.mts {
  margin-top: 20px;
}

.mtm {
  margin-top: 40px;
}

.mtl {
  margin-top: 100px;
}

.mbl {
  margin-bottom: 100px;
}

.mbs {
  margin-bottom: 20px;
}

.mls {
  margin-left: 10px !important;
}

.mrs {
  margin-right: 10px;
}
.push-right {
  float: right !important;
}
