{{#> base }}

{{#*inline "content-block"}}
  <div class="container-fluid">
    <div class="mtm row">
      <div class="col col-sm-12 text-center">
        <h1 class="">Oh no! Something went wrong...</h1>
        <code>
          {{error}}
        </code>
      </div>
    </div>
  </div>
{{/inline}}

{{/base}}
